@use 'sass:map' as map;

$ff1: 'Arial', 'sans-serif';

$margins: (
    'med': 50px
);

body {
    margin: 0;
}

#mainC {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: map.get($margins, 'med',) auto map.get($margins, 'med') auto;
    font-family: $ff1;
}