!!! 5
%html
    %head
        %meta{:charset => "utf-8"}
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
        %title meow
        %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
        %link{:rel => "icon", :type => "image/x-icon", :href => "/flower.png"}
        %script{:src => "main.js", :type => "module"}
    %body
        %h1 Rotating Cat Cubes
        %canvas#mainC
        #warningContainer




